@mixin normalBgColor() {
  @apply bg-slate-50;
}

@mixin normalBorderColor() {
  @apply border-slate-50;
}

@mixin innerBgColor() {
  @apply bg-slate-200;
}

@mixin innerBorderColor() {
  @apply border-[#d9d9d9];
}

@mixin hoverBgColor() {
  @apply bg-slate-100;
}

@mixin resultTextColor() {
  @apply text-slate-600;
}

@mixin activeBgColor() {
  @apply bg-slate-200;
}

@mixin activeTextColor() {
  @apply text-slate-700;
}

@mixin focusBorderColor() {
  @apply border-[#4096ff];
}

@mixin focusBgColor() {
  @apply bg-[#4096ff];
}

@mixin contentBgColor() {
  @apply bg-slate-100;
}

@mixin contentNormalBgColor() {
  @apply bg-slate-50 shadow-sm;
}

@mixin contentNormalTextColor() {
  @apply text-slate-500;
}

@mixin contentHoverBgColor() {
  @apply bg-slate-100 shadow-md;
}

@mixin contentActiveBgColor() {
  @apply bg-white shadow-md;
}

@mixin contentActiveTextColor() {
  @apply text-slate-700;
}

.header {
  @include normalBgColor;
  section {
    @include innerBgColor;
  }
}

.search {
  @include normalBgColor;
  section {
    @include innerBgColor;
    input {
      @include innerBgColor;
    }
  }
}

.result {
  @include normalBgColor;
}

.type-list {
  .type-item {
    @include normalBgColor;
    @include resultTextColor;
    @apply rounded-md p-1 mr-3 text-xs;
    .type-item-info {
      @apply w-full h-full p-[0.2rem] rounded-md border-[1px];
      @include normalBorderColor;
    }
    &:hover {
      @apply rounded-md p-1 mr-3 text-xs;
      @include hoverBgColor;
      .type-item-info {
        @include innerBorderColor;
      }
    }
  }
  .active {
    @include activeTextColor;
    @include activeBgColor;
    .type-item-info {
      @apply border-[1px];
      @include innerBorderColor;
    }
    &:hover {
      @include activeTextColor;
      @include activeBgColor;
      .type-item-info {
        @include focusBorderColor;
      }
    }
    &.focus {
      @include activeTextColor;
      @include activeBgColor;
      .type-item-info {
        @include focusBorderColor;
      }
    }
  }
}

.result-list {
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .result-item {
    @include resultTextColor;
    .result-item-focus {
      @apply w-1 h-1 border-[1px] rounded-full mr-1;
      @include normalBorderColor;
      @include normalBgColor;
    }
    &:hover {
      @include hoverBgColor;
      .result-item-focus {
        @include innerBorderColor;
        @include innerBgColor;
      }
    }
  }
  .active {
    @include activeTextColor;
    @include activeBgColor;
    .result-item-focus {
      @include innerBorderColor;
      @include innerBgColor;
    }
    &:hover {
      @include activeTextColor;
      @include activeBgColor;
      .result-item-focus {
        @include focusBorderColor;
        @include focusBgColor;
      }
    }
  }
  .focus {
    .result-item-focus {
      @include focusBorderColor;
      @include focusBgColor;
    }
  }
}

.content-page {
  @include contentBgColor;
  @apply h-screen w-screen pt-2;
  display: grid;
  grid-template: 'type content' 100% / 120px auto;

  .content-type {
    grid-area: type;
    @apply p-1 pl-2 flex flex-col gap-2;

    .content-type-item {
      @include contentNormalBgColor;
      @include contentNormalTextColor;
      @apply rounded-lg p-2 text-center text-xs cursor-pointer;
      &:hover {
        @include contentHoverBgColor;

      }
      &.active {
        @include contentActiveTextColor;
        @include contentActiveBgColor;
      }
    }
  }

  .content-content {
    grid-area: content;
  }
}
