body {
  width: 100vw;
  height: 100vh;
}

* {
  // opacity: 0.98;
  background: transparent;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* 标准语法 */
}
